
<form action="/Brand/BrandAdd" method="post">
    <center>
        <input type="text" placeholder="Marka Adını Giriniz." name="Name" required />
        <input type="submit" value="Ekle" />
    </center>
</form>